<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235794830592-ss3lkbtfn5lvdj36tqnskpvm2s68rgrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235794830592-ss3lkbtfn5lvdj36tqnskpvm2s68rgrs</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6jDXyH5mrTuBGY7Z15HfyRRPlmVXljI</string>
	<key>GCM_SENDER_ID</key>
	<string>235794830592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geek.Dice.firebase-login</string>
	<key>PROJECT_ID</key>
	<string>login-7dcf4</string>
	<key>STORAGE_BUCKET</key>
	<string>login-7dcf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235794830592:ios:4401eb6610432835</string>
	<key>DATABASE_URL</key>
	<string>https://login-7dcf4.firebaseio.com</string>
</dict>
</plist>